@model IEnumerable<ElectronicStore.Models.Salary_Table>

@{
    ViewBag.Title = "SalaryDetails";
}

<h2>Salary Details</h2>


<p class="btn btn-danger">
    @Html.ActionLink("Salary Payment", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>Modify </th>
        <th>Delete </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            <span class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id = item.id }) </span></td>
        <td>
            <span class="btn btn-success"> @Html.ActionLink("Delete", "Delete", new { id = item.id })</span>
</td>
    </tr>
}

</table>

<br/>

<a href="@Url.Action("Pannel","Home")" class="btn btn-danger">Back to Pannel </a>